<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-page</title>
    <link rel="stylesheet" href="static\abt.css">
</head>
<body>
    <div class="box">
        <img src="/static/img10.jpg" alt="Oops...">
        <h2>About Me</h2>
    </div>
    <div class="social-media">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="https:www.facebook.com/chikku.raj.18488" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.twitter.com/hrc0111" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.instagram.com/harsh_raj.hr" class="fa fa-instagram" target="_blank"></a>
        <a href="https://www.linkedin.com/in/harsh-raj-6450a8248" class="fa fa-linkedin" target="_blank"></a>
    </div>
    <footer>copyright &copy www.hrcv.com | All rights reserved!!</footer>
</body>
</html>