<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge-page</title>
    <link rel="stylesheet" href="/static/skill.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="inner">

        <div class="header">
            <h1>Skills</h1>
        </div>
        
        <div class="container">
            <div class="skill-box">
                <h3>C Language</h3>
            </div>


            <div class="skill-box">
                <div class="img">
                    <img src="/static/dsa.jpg">
                </div>
                <h3>DSA</h3>
            </div>

            <div class="skill-box">
                <div class="img">
                    <img src="/static/java.jpg">
                </div>
                <h3>JAVA</h3>
            </div>


            <div class="skill-box">
                <div class="img">
                    <img src="/static/html.jpg">
                </div>
                <h3>HTML-5</h3>
            </div>

            <div class="skill-box">
                <div class="img">
                    <img src="/static/css.jpg">
                </div>
                <h3>CSS</h3>
            </div>


            <div class="skill-box">
                <div class="img">
                    <img src="/static/js.jpg">
                </div>
                <h3>JavaScript</h3>
            </div>


            <div class="skill-box">
                <div class="img">
                    <img src="/static/exp.jpg">
                </div>
                <h3>Express</h3>
            </div>

            <div class="skill-box">
                <div class="img">
                    <img src="/static/mpdb.jpg">
                </div>
                <h3>MongoDB</h3>
            </div>
        </div>
    </div>


    <!-- <div class="social-media">
        
        <a href="https:www.facebook.com/chikku.raj.18488" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.twitter.com/hrc0111" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.instagram.com/harsh_raj.hr" class="fa fa-instagram" target="_blank"></a>
        <a href="https://www.linkedin.com/in/harsh-raj-6450a8248" class="fa fa-linkedin" target="_blank"></a>
    </div>
    <footer>copyright &copy www.hrcv.com | All rights reserved!!</footer> -->
</body>

</html>